* {
    list-style-type: none;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    display: flex;
    max-width: 800px;
    max-height: 800px;
}